<% if (site.data.news) { %>
<section id="news">
  <span class="h1">News</span>
  <ul class="post-list">
    <% for(var obj in site.data.news){ %>
    <li class="post-item">
      <div class="meta">
        <%= site.data.news[obj].date %>
      </div>
      <span>
        <%= site.data.news[obj].desc %>
      </span>
    </li>
    <% } %>
  </ul>
</section>
<% } %>
